$full-bg: #22b573;
$name-title: #fcb84c;
$read-more: #fcb84c;
$dark-bg: #1c1717;
$text-in-dark: #eae9e4;
$light-bg: #f2f2f2;
$text-in-light: #323d3d;


/* bs override */ 
.col-md-4 {
    position: relative;
    margin-bottom: 40px;
}
/* bs override */



*, *::before, *::after {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: $full-bg;
    padding: 20px;
}

h1 {
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
@media only screen and (max-width: 767.98px) {
    h1 {
        text-align: left;
        font-size: 18px;
    }
}

h2, h3 {
    color: $name-title;
    font-size: 18px;
}
.date {
    color: $name-title;
    font-size: 18px;
}

.dark-style {
    background: $dark-bg;
    color: $text-in-dark;
    padding: 30px 30px 50px;
    height: 100%;
}

.light-style {
    background: $light-bg;
    color: $text-in-light;
    padding: 30px 30px 50px;
    height: 100%;
}


#video-player {
 
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        max-height: 80px;
        max-width: 80px;
        path {
            fill: #f2f2f2;
        }
        polygon {
            fill: #f2f2f2;
        }
    }
}

.readM {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: $full-bg;
	left: 10px;
    padding: 5px 0 0 5px;
    .read-more {
        color: $read-more;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
    }
}


.burgerMenu {
    background: #000;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    border: 2px solid $full-bg;
    display: flex;
	justify-content: center;
	align-items: center;
}
.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.crossed {
    .bar1 {
        transform: rotate(-45deg) translate(-8px, 8px);
        box-shadow: 1.5px 1.5px #0e0d0da1;
    }
    .bar2 {opacity: 0;}
    .bar3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }
}